<template>
  <div class="container mx-auto ">
    <card text="fugafuga"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Card from '/@/components/Card.vue'

export default defineComponent({
  components: {
    Card
  }
})
</script>