<template>
  <div class="rounded-md p-5 flex-none transform bg-gradient-to-br from-red-400 to-blue-500">
    <h1 class="text-4xl font-extrabold text-white">{{ text }}</h1>
    <p class="mt-2 text-white">hogehoge</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    text: {
      type: String
    }
  }
})
</script>