<template>
  <nav class="sticky top-0 z-40 lg:z-50 w-full max-w-8x1 mx-auto bg-white border-b border-gray-200 flex-none flex">
    <div class="flex-none pl-4 sm:pl-6 xl:pl-8 flex items-center lg:border-b-0 lg:w-44 xl:w-50">
      <router-link to="/" class="overflow-hidden w-28 md:w-36 py-4">
        <img alt="logo" src="/@/assets/gensai_logo_sm.png" />
      </router-link>
    </div>
    <div class="flex-none pl-4 sm:pl-6 xl:pl-8 flex items-center lg:w-60 xl:w-72">
    </div>
  </nav>
</template>