<template>
  <nav-bar />
  <div class="max-w-screen-lg overflow-hidden">
    <div class="min-w-0 flex-auto px-4 sm:px-6 xl:px-8 pt-6 pb-16">
      <router-view />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import NavBar from '/@/components/NavBar.vue'
import HelloWorld from '/@/components/HelloWorld.vue'

export default defineComponent({
  components: {
    NavBar,
    HelloWorld,
  },
})
</script>
